In [95]:
import numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import eurostat
import seaborn as sns
import csv
from datetime import datetime

In [96]:
df = pd.read_csv('students.csv', encoding="cp1252", delimiter=';')
print(df.keys())
df.drop(['ID'], axis=1, inplace=True)

#To select rows whose column value equals a scalar, some_value, use ==
filter_student = df.loc[df['Abschluss'] == 'Bachelor']

#Combine multiple conditions with &:
combine_students = df.loc[(df['Abschluss'] >= 'Bachelor') & (df['FBAnon'] <= 'FachBereich Rot')]

#To select rows whose column value does not equal some_value, use !=
not_student = df.loc[df['FBAnon'] != 'FachBereich Rot']

#All Students from Year <= 2000
dates_with_no_one = df.loc[df['DatumKurzMod_TT_MM_JJJJ'] != '1.']
times= dates_with_no_one[dates_with_no_one.apply(lambda x: datetime.strptime(x['DatumKurzMod_TT_MM_JJJJ'], '%d.%m.%Y')<= datetime.strptime('01.2000','%m.%Y'), axis=1)]

times.head(5)

Index(['ID', 'MatAnon', 'FBAnon', 'Abschluss', 'Studiengang', 'stgsem',
       'semester_2_WS_1_SoSe', 'DatumKurzMod_TT_MM_JJJJ', 'PDatumKurzMM_JJJJ',
       'Prüfungsbezeichnung_Anon', 'Prüfungsversuch', 'Prüfungsstatus',
       'pnote', 'ptermin', 'Prüfungsart', 'status_Erfolg'],
      dtype='object')

,MatAnon,FBAnon,Abschluss,Studiengang,stgsem,semester_2_WS_1_SoSe,DatumKurzMod_TT_MM_JJJJ,PDatumKurzMM_JJJJ,Prüfungsbezeichnung_Anon,Prüfungsversuch,Prüfungsstatus,pnote,ptermin,Prüfungsart,status_Erfolg
37,100141990,FachBereich Violett,Diplom FH,Studiengang 19,1,19972,1.02.1998,2.1998,311CDMe,1,bestanden,370.0,1,Prüfungsvorleistung,im Studium
38,100141990,FachBereich Violett,Diplom FH,Studiengang 19,1,19972,1.04.1998,4.1998,301GDMk,2,bestanden,300.0,2,Prüfungsvorleistung,im Studium
39,100141990,FachBereich Violett,Diplom FH,Studiengang 19,1,19972,1.04.1998,4.1998,110MDMk,2,bestanden,300.0,2,Prüfungsleistung,im Studium
40,100141990,FachBereich Violett,Diplom FH,Studiengang 19,1,19972,1.02.1998,2.1998,110MDMk,1,nicht bestanden,500.0,1,Prüfungsleistung,im Studium
41,100141990,FachBereich Violett,Diplom FH,Studiengang 19,1,19972,1.04.1998,4.1998,210IDMk,2,bestanden,400.0,2,Prüfungsleistung,im Studium