In [63]:
import numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import eurostat
import seaborn as sns
import csv
from datetime import datetime

In [64]:
df = pd.read_csv('students.csv', encoding="cp1252", delimiter=';')
print(df.keys())
df.drop(['ID'], axis=1, inplace=True)

#To select rows whose column value equals a scalar, some_value, use ==
filter_student = df.loc[df['Abschluss'] == 'Bachelor']

#Combine multiple conditions with &:
combine_students = df.loc[(df['Abschluss'] >= 'Bachelor') & (df['FBAnon'] <= 'FachBereich Rot')]

#To select rows whose column value does not equal some_value, use !=
not_student = df.loc[df['FBAnon'] != 'FachBereich Rot']

#All Students from last 10 Years
#time_student = df.loc[datetime.strptime(df['DatumKurzMod_TT_MM_JJJJ'], '%m.%Y') >= datetime.strptime('01.2000','%m.%Y')]

combine_students.head(5)

Index(['ID', 'MatAnon', 'FBAnon', 'Abschluss', 'Studiengang', 'stgsem',
       'semester_2_WS_1_SoSe', 'DatumKurzMod_TT_MM_JJJJ', 'PDatumKurzMM_JJJJ',
       'Prüfungsbezeichnung_Anon', 'Prüfungsversuch', 'Prüfungsstatus',
       'pnote', 'ptermin', 'Prüfungsart', 'status_Erfolg'],
      dtype='object')

,MatAnon,FBAnon,Abschluss,Studiengang,stgsem,semester_2_WS_1_SoSe,DatumKurzMod_TT_MM_JJJJ,PDatumKurzMM_JJJJ,Prüfungsbezeichnung_Anon,Prüfungsversuch,Prüfungsstatus,pnote,ptermin,Prüfungsart,status_Erfolg
0,1000110310,FachBereich Rot,Bachelor,Studiengang 16,1,20112,1.01.2012,1.2012,610MBII,1,nicht bestanden,500.0,1,Prüfungsleistung,im Studium
1,1000110310,FachBereich Rot,Bachelor,Studiengang 16,1,20112,1.02.2012,2.2012,310PBII,1,nicht bestanden,500.0,1,Prüfungsleistung,im Studium
2,1000110310,FachBereich Rot,Bachelor,Studiengang 16,1,20112,1.03.2012,3.2012,310PBII,2,nicht bestanden,500.0,2,Prüfungsleistung,im Studium
3,1000110310,FachBereich Rot,Bachelor,Studiengang 16,1,20112,1.02.2012,2.2012,720PBIn,1,nicht bestanden,NaN,1,Studienleistung,im Studium
4,1000110310,FachBereich Rot,Bachelor,Studiengang 16,1,20112,1.03.2012,3.2012,110IBIk,2,nicht bestanden,500.0,2,Prüfungsleistung,im Studium