In [58]:
import numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import eurostat
import seaborn as sns

In [59]:
daten = eurostat.get_data_df("ei_bsco_m")
daten.drop(['unit', 's_adj', 'indic'], axis=1, inplace=True)
#test = daten.eq('DE')
#daten.loc[daten['geo\\time']].sum()
daten.head(5)
#daten['geo\\time'].value_counts().plot.pie(
   # autopct='%1.1f%%',  # Label der einzelnen Abschnitte
    #shadow=True,  # Schatteneffekt
    #figsize=(10, 8))  # Größe des Graphen
#plt.show()
#daten['geo\\time'].value_counts()
#print(daten.keys())

,geo\time,2022M03,2022M02,2022M01,2021M12,2021M11,2021M10,2021M09,2021M08,2021M07,...,1980M10,1980M09,1980M08,1980M07,1980M06,1980M05,1980M04,1980M03,1980M02,1980M01
0,AL,-24.9,-15.6,-15.4,-17.2,-18.8,-19.4,-10.4,-13.0,-12.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AT,-22.0,-7.3,-8.6,-10.5,-6.8,-2.8,-3.1,-0.3,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BE,-21.8,-9.9,-9.4,-11.3,-10.1,-7.6,-1.2,-1.7,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BG,-29.7,-20.6,-19.2,-21.3,-25.7,-24.9,-20.6,-19.1,-16.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CY,-32.7,-19.2,-18.1,-21.8,-20.4,-19.6,-16.0,-20.5,-23.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN